<%= form_for @message do |f| %>
<div class="row">
	<div class="twelve columns">
	<h6>
	  Simvla cultivates a community of creative Designers and Developers to share their experiences and create a huge resource of the most diverse topics. We try to deliver the best content from up and coming as well as established names from around the world, and pull it all together in one location.
	</h6>
  <h6>
    As a network, we provide our members with a clear and responsive front-end design, a minimalist custom content management system, and all our effort in terms of pushing content to the world trough all the relevant channels available. All this baked with a super fast engine and a bunch of features which will enrich their blogging experience.
  </h6>
  <h6>
    We're constantly looking for new creatives to join our network. Fill in the form and if we like your content you'll hear from us.
  </h6>
  <div class="twelve columns">
    <%= f.label :name, "First Name" %>
    <%= f.text_field :name, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname, :class => "pane_input"%>        
  </div>
  <div class="twelve columns">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
    <%= f.label :blog, "Blog / Website" %>
    <%= f.text_field :blog, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
    <%= f.label :twitter, "Twitter " %>
    <%= f.text_field :twitter, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
    <%= f.label :specialization, "What's your specialization?" %>
    <%= f.text_field :specialization, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
    <%= f.label :info, "Anything we should know?" %>
    <%= f.text_field :info, :class => "pane_input"%>
  </div>
  <div class="twelve columns">
     <p>
       <%= f.submit "send application", :class => "nice radius large white button" %>
    </p>
  </div>
</div>
</div>
							
<% end %>