
  <%= render "layouts/shared/head"%>

  <%= render "layouts/shared/header"%>

  <%= yield %>


<h1>My Entries</h1>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project, :class => "nice radius medium white button" %></td>
    <td><%= button_to 'Destroy', project, method: :delete , :class => "nice radius medium white button"%></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', prompts_path, :class => "nice radius medium white button" %>
