
  <%= render "layouts/shared/head"%>
<body>
  <%= render "layouts/shared/header"%>

  <%= yield %>

</body>

<p id="notice"><%= notice %></p>
<body>
<%= link_to "Edit Page", "/editor" + request.path, id: "edit_link", :class => "nice radius medium white button" %>
<%= link_to 'Back', projects_path, :class => "nice radius medium white button" %>
</body>

<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%">
      <table width="100%" border="0" cellspacing="0" cellpadding="1">
        <tr>
         <td><div id="title" data-mercury="full"><%= raw @project.title %></divn></td>
        </tr>
        <tr>
          <td height="300"><div id="body" data-mercury="full"><%= raw @project.body %></divn></td>
        </tr>
      </table>
    </td>
    <td width="50%">
      <table width="100%">
        <tr>
          <td><p><%= raw @prompt.title %></p></divn></td>
        </tr>
        <tr>
          <td height="300"><p><%= raw @prompt.data %></p></divn></td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<% @all_comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
      </tr>
<% end %>



<%= form_for @comment do |f| %>
  <%= f.label :text, :style => "display:none"%>:
  <%= f.hidden_field :project_id, :value => @project.id %>
  <%= f.text_field :text %><br />

  <%= f.submit%>
<% end %>
