<% if obj.errors.any? %>
  <div id="error_explanation">
      <%= obj.errors.count %>
      <% if obj.errors.count==1%>
        <%=t(:error)%>
      <% else%>
        <%=t(:errors)%>
      <%=t(:form_error)%>
      <% end %>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>