<%= render "layouts/shared/form_error_e", :obj => resource %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>


  <div id="main-content" class="container clearfix" >

  <div class="row">
  	                <div class="twelve columns">
  	                <h5>Change your password</h5>
  	                <fieldset class="textbox">
  	                	  <%= f.password_field :password, :autocomplete=>"on", :placeholder=>"New password" %></div>
  	                	  <%= f.password_field :password_confirmation, :autocomplete=>"on", :placeholder=>"Confirm password" %>
                        <%= f.submit "SAVE", :class => "submit button", :style=>"margin-top: 10px;"%>
  	                	</fieldset>
  	                </div>			
  	</div>
  </div>


<% end %>

