
 <aside id="logo" class="clearfix">
        <div class="clearfix">
            <a href="/"><%=@user.first_name%></a>
        </div>
  </aside>

    <ul id="user_meta">
        <li class="blog_name">
            <h1 id="blog_name">
                <a href="/"><%=@user.first_name + ' ' + @user.last_name%></a>
            </h1>
        </li>
        <li class="tagline">
            <h2 id="tagline">
                <%=@user.bio%>
            </h2>
            </li>


            <li class="link">
                <%=link_to url_no_protocol(@user.external_resource) , @user.external_resource%>
            </li>


            <li class="link twitter">
                <%=link_to "@#{url_no_protocol(@user.twitter)}",
                   "http://twitter.com/#{url_no_protocol(@user.twitter)}",:target => '_blank' %>
            </li>

            <li class="link feed">
                  <%= link_to "rss feed", member_path(@user, :format => :rss) %>
            </li>

        </ul>

        <aside id="simvla_linkback">
            <span class="simvla">BROUGHT TO YOU BY THE</span><strong><a href="http://simvla.com">SIMVLA NETWORK</a></strong>
        </a>
    </aside>