<% if current_user.present? %>
  <%= link_to('Manager', posts_path) %>
  <%= link_to('Logout', '/sign_out', :method => :delete, :style=>"color:black;") %>

<% end %>

<!-- container -->
<div class="container">

    <div class="row">
        <div class="twelve columns">
            <a href="index.html" style="color:black;"><h2>SIMVLA</h2></a>
            <p style="font-size: 20px;">Simvla cultivates a community of creative writers to share their experiences and create a huge resource of the most diverse topics. We try to deliver the best content from up and coming as well as established creatives from around the world, and pull it all together in one location.</p>
        </div>
        <div class="four columns">
            <p><a href="#" onclick='overlay()' class="nice radius large white button">members login</a></p>
        </div>
        <div class="four columns" style="margin-left: 25px;">
                <h5>interested?</h5>
        </div>
        <div class="four columns">
                <p><a href="apply.html" class="nice radius large white button">apply for membership</a></p>
        </div>
        <div class="four columns">
                <p><a href="mailto:hi@simvla.com" class="nice radius large white button">doubts? ask something</a></p>
        </div>
    </div>

    <div class="row">
        <div class="eight columns">
            <h2>Members</h2>

            <!-- Grid -->

            <div class="row">
                    <% counter_row  = 0 %>
                    <% @posts.each_with_index do |post, index| %>

                      <% if index%8==0 %>
                        <% counter_row=0 %>
                        <% counter_row+=1 %>
                      <% else %>
                        <% counter_row+=1 %>
                      <% end %>

                <div class="six columns">
                  <div class="panel<%=counter_row%>">
                          <a href="#">
                            <h3>
                              <span class="noshow"><%= post.user.username %></span>
                              <span class="show"><%= post.user.skill %></span>
                            </h3>
                          </a>
                        </div>
                </div>

              <% end %>


                <div class="row">
              <div class="six columns">
             <div class="twitter-feed">
                <a href="http://twitter.com/simvlanetwork" style="color: #20C7FF;"><h3><span class="noshow">Network Twitter Feed</span><span class="show">Follow us on Twitter</span></h3></a>
                </div>
              </div>
              <div class="six columns">
                    <div class="rss-feed">
                <a href="#" style="color: #FFB521;"><h3><span class="noshow">Network Rss Feed</span><span class="show">Subscribe to the News Feed</span></h3></a>
                </div>
              </div></div></div></div>

                  <div class="row">
                <div class="twelve columns">
                <div class="backtop" style="text-align: center;">
                <h4><a href="#top" style="color: #000 !important; font-size: 13px">BRING ME UP</a></h4>
                </div></div></div>


        <div id="overlay">
             <div>
                  <h4>Hey! Welcome back, Dude!</h4>
                  <fieldset class="textbox">
                    <label class="username">
                    <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
                    </label>
                    <label class="username">
                    <input id="password" name="password" value="" type="password" placeholder="Password">
                    </label>
                    <button class="submit button" type="button" style="margin-top: 40px; font-family: 'adelle-sans', sans-serif;">SIGN IN</button>
                    <p>
                    <a class="forgot" href="#" onclick='overlay2()'>Forgot your password?</a>
                    </p>
                    </fieldset>

                  <p><a href='#' onclick='overlay()'><i class="ss-icon" style="color: black;">&#x2421;</i></a></p>
             </div>
        </div>

        <div id="overlay2">
             <div>
                  <h4>Doh! Let's setup a nu one!</h4>
                  <fieldset class="textbox">
                    <label class="username">
                    <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Your Email">
                    </label>
                    <button class="submit button" type="button" style="margin-top: 40px; font-family: 'adelle-sans', sans-serif;">Submit</button>
                    </fieldset>

                  <p><a href='#' onclick='overlay2()'><i class="ss-icon" style="color: black;">&#x2421;</i></a></p>
             </div>
        </div>

    </div>
</div>
<!-- container -->