
<%= render "layouts/shared/head"%>

<%= render "layouts/shared/header"%>

<%= yield %>


<!--Displays any badges the user has acquired-->
<body>
<% current_user.badges.each do |badge| %>
  <table border= "3px" style="width:300px">
  <tr><td style="font-family: sans-serif; font-size: 30px;"><%= badge.name %></td></tr>
  <tr><td style="font-family: sans-serif; font-size: 20px;"><%= badge.description %></td></tr>
<% end %>
</body>
