<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New application!</h1>
    <p>Hey Andrea! There's a new member waiting to be approved on Simvla. Go see more!</p>
    <p>Name: <%= @message.name %></p>
    <p>Last name: <%= @message.lastname %></p>
    <p>Email: <%= @message.email %></p>
    <p>Blog: <%= @message.blog %></p>
    <p>Twitter: <%= @message.twitter %></p>
    <p>Specialization: <%= @message.specialization %></p>
    <p>Info: <%= @message.info %></p>
  </body>
</html>

